[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

/*[data-dropdown]:hover .dropdown-menu,*/
[data-dropdown].ativo .dropdown-menu {
  display: block;
  animation: showUp 0.5s forwards;
}

@keyframes showUp {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translateY(0, 0, 0);
  }
}

.dropdown-menu {
  position: absolute;
  background: #e54;
  top: 38px;
  z-index: 200;
  border: 2px solid #333;
}

.dropdown-menu li a:hover {
  color: white;
}

.dropdown-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid #e54;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
