[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    justify-content: center;
    z-index: 400;
    position: relative;
  }

  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 10px;
    background: white;
    margin-right: 4px;
    box-shadow: 0 4px #fff, 0 -4px #fff;
  }

  .js [data-menu="button"].ativo::before {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  .js [data-menu="list"] {
    display: none;
    position: absolute;
    background: #fb5;
    width: 160px;
    z-index: 300;
    padding: 60px 0 20px 0;
    top: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .js [data-menu="list"].ativo {
    display: block;
    animation: show 0.3s forwards;
  }
  .js .dropdown-menu {
    position: static;
  }

  .js .dropdown-menu::before {
    top: 30px;
  }
}
